<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.beethoven.mapper.MusicMapper">
    <select id="searchMusic" resultType="org.beethoven.pojo.vo.MusicVo">
        select
            id,
            name,
            singer,
            duration,
            size,
            mime,
            oss_music_name          as          link,
            oss_cover_name          as          cover
        from music
        where name like #{key}
           or singer like #{key}
        limit #{offset}, #{size};
    </select>
    <select id="getManageMusicList" resultType="org.beethoven.pojo.vo.ManageMusic">
        select
            id,
            name,
            singer,
            duration,
            size,
            mime,
            oss_music_name          as          link,
            oss_cover_name          as          cover,
            create_time,
            update_time
        from music
        <where>
            <if test="key != null and key != ''">
                and (name like #{key} or singer like #{key})
            </if>
        </where>
        limit #{offset}, #{size};
    </select>
</mapper>
