<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.beethoven.mapper.MusicMapper">
    <select id="searchMusic" resultType="org.beethoven.pojo.vo.MusicVo">
        select
            m.id,
            name,
            singer,
            duration,
            fim.size,
            fim.mime,
            fim.filename          as          link,
            fic.filename          as          cover
        from music m
            left join file_info fim on m.music_file_id = fim.id
            left join file_info fic on m.cover_file_id = fic.id
        where name like #{key}
           or singer like #{key}
        order by id desc
        limit #{size} offset #{offset};
    </select>
    <select id="getManageMusicList" resultType="org.beethoven.pojo.vo.ManageMusic">
        select
            m.id,
            album,
            name,
            singer,
            duration,
            fim.size,
            fim.mime,
            fim.filename          as          link,
            fic.filename          as          cover,
            m.create_time,
            m.update_time
        from music m
            left join file_info fim on m.music_file_id = fim.id
            left join file_info fic on m.cover_file_id = fic.id
        <where>
            <if test="key != null and key != ''">
                and (name like #{key} or singer like #{key})
            </if>
        </where>
        order by id desc
        limit #{size} offset #{offset};
    </select>
</mapper>
