<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.beethoven.mapper.PlaylistMapper">
    <select id="getSelfPlayList" resultType="org.beethoven.pojo.vo.PlaylistVo">
        select
            p.id,
            p.title,
            p.cover,
            count(mp.music_id)            as      music_count,
            a.username                    as      author
        from user_playlist up
            left join playlist p on up.playlist_id = p.id
            left join account a on p.creator = a.id
            left join music_playlist mp on p.id = mp.playlist_id
        where up.account_id = #{userId}
        group by p.id, p.title, p.cover, a.username
        order by id desc
        limit #{size} offset #{offset};
    </select>

    <select id="getPlaylistMusic" resultType="org.beethoven.pojo.vo.MusicVo">
        select
            m.id,
            m.name,
            m.singer,
            m.duration,
            m.album,
            fim.size,
            fim.mime,
            fim.filename          as          link,
            fic.filename          as          cover
        from music_playlist mp
            inner join music m on mp.music_id = m.id
            left join file_info fim on m.music_file_id = fim.id
            left join file_info fic on m.cover_file_id = fic.id
        where mp.playlist_id = #{playlistId}
        order by mp.music_id
        <if test="pageParam != null">
            limit #{pageParam.size} offset #{pageParam.offset};
        </if>
    </select>

    <select id="getPlaylistInfo" resultType="org.beethoven.pojo.vo.PlaylistVo">
        select
            p.id,
            p.title,
            p.cover,
            count(mp.music_id)            as      music_count,
            p.create_time,
            p.introduction,
            p.accessible,
            a.username                    as      author
        from playlist p
            left join account a on p.creator = a.id
            left join music_playlist mp on p.id = mp.playlist_id
        where p.id = #{playlistId}
        group by p.id, p.title, p.cover, a.username
    </select>
    <select id="getHomePlaylist" resultType="org.beethoven.pojo.vo.PlaylistVo">
        select
            p.id,
            p.title,
            p.cover,
            count(mp.music_id)      as       music_count,
            a.username              as       author
        from playlist p
            left join account a on p.creator = a.id
            left join music_playlist mp on p.id = mp.playlist_id
        <where>
            and p.accessible = true
            <if test="key != null and key != ''">and (p.title like #{key} or a.username like #{key})</if>
        </where>
        group by p.id, p.title, p.cover, a.username
        order by id desc
        <if test="pageParam != null">
            limit #{pageParam.size} offset #{pageParam.offset};
        </if>
    </select>
</mapper>
